* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	padding: 30px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	background-image: linear-gradient(to right bottom, rgba(0, 110, 255, 0.164), rgba(0, 255, 200, 0.377)),
		url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");

	background-size: cover;
	background-position: center;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.heading-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: aliceblue;
	font-size: 3rem;
}

h1,
h3 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	font-family: 'Roboto', sans-serif;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	padding: 2%;
}

.btn {
	background-color: white;
	padding: 15px 40px;
	font-size: 30px;
	color: rgb(0, 0, 0);
	font-weight: 500;
}

.btn-secondary {
	border: 2px solid white;
	padding: 15px 40px;
	font-size: 30px;
	color: rgb(255, 255, 255);
	font-weight: 500;
}

.btn-secondary:hover {
	background-color: white;
	padding: 15px 40px;
	font-size: 30px;
	color: rgb(0, 0, 0);
	font-weight: 500;
}

img {
	max-width: 100%;
	max-height: 100%;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
        display: block;
    }
    80%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

h1 {
	animation-name: fadeInDown;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    backface-visibility: hidden;
}

h3{
    animation-name: fadeInRight;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    backface-visibility: hidden;

}
.section-a {
	display: flex;
	justify-content: end;
	width: 80%;
	margin: 0 auto;
	height: 50vh;
	border: 1px solid black;
}

.content-container {
	width: 100%;
	display: flex;
	justify-content: end;
}
