* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.container{
	width: 90%;
	margin: 0 auto;
}

p{
	font-size: 1.2em;
}

.grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;

}


h3{
	font-size: 2rem;
}



body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	padding: ;
	background-color: #f6f6f6;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
	background-image: linear-gradient(to right bottom, rgba(0, 110, 255, 0.164), rgba(0, 255, 200, 0.377)),
		url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");

	background-size: cover;
	background-position: center;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	color: #fff;
}

.heading-content {
	display: flex;
	margin: 5%;
	flex-direction: column;
	align-items: center;
	color: aliceblue;
	font-size: 3vw;
}

h1,
h2
 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	font-family: 'Roboto', sans-serif;
}


.btn-white {
	background-color: white;
	color: rgb(66, 66, 66);

}

.btn-secondary {
	border: 2px solid #4d4d4d;
	background-color: #fff;
	color: #4d4d4d;
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	font-size: 2vw;
	padding: 1rem 2rem;
	border-radius: 100px;
	animation-name: fadeInUp;
	animation-duration: 0.5s;
	font-family: 'Lato', sans-serif;
	transition: all .2s;
	outline: 0;
	backface-visibility: hidden;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
	transform: translateY(-1px);
	text-decoration: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

img {
	max-width: 100%;
	max-height: 100%;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
		display: block;
	}
	80% {
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

h1 {
	animation-name: fadeInDown;
	animation-timing-function: ease-out;
	animation-duration: 1s;
	backface-visibility: hidden;
}

h2 {
	animation-name: fadeInRight;
	animation-timing-function: ease-in;
	animation-duration: 1s;
	backface-visibility: hidden;
}

.checklist {
	display: grid;
	margin-left: 15%;
}

section{
	width: 100%;
}


.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	display: flex;
	
}

.content-container *{
	margin: 2%;
}

.section-a{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	margin: 2% auto;
}

.section-b{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	margin: 2% auto;
	flex-direction: row-reverse;
}

.section-c{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	margin: 2% auto;
}

footer{
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	width: 100%;
	height: 50vh;
	background-color: #2d2d2d;
	clip-path: polygon(0 25%,100% 0,100% 100%,0 100%);
}

nav{
	
	width: 30%;
	border-top: 1px solid rgb(155, 155, 155);
	
}

.nav-links{
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
	font-size: 1.2rem;
}

.nav-links li a{
	color: white;
}

.nav-links li a:hover{

	color: turquoise;
}


@media (max-width: 900px){
	.section-a,.section-b,.section-c{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	header{
		height: 60vh;
	}
}

@media(max-width: 1000px){
	.section-a,.section-b,.section-c{
	
	}


}

@media(max-width: 1345px){

	.section-a,.section-b,.section-c{
		width: 95%;
	}
}


