* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	padding: 30px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
	background-image: linear-gradient(to right bottom, rgba(0, 110, 255, 0.164), rgba(0, 255, 200, 0.377)),
		url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");

	background-size: cover;
	background-position: center;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	color: #fff;
}

.heading-content {
	display: flex;
	margin: 5%;
	flex-direction: column;
	align-items: center;
	color: aliceblue;
	font-size: 3rem;
}

h1,
h3 {
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	font-family: 'Roboto', sans-serif;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	padding: 2%;
}

.btn-white {
	background-color: white;
	color: #777;
}

.btn-secondary {
	color: #173f4f;
}

.btn:link,
.btn:visited {
	text-transform: uppercase;
	padding: 15px 40px;
	font-size: 2rem;
	border-radius: 100px;
	animation-name: fadeInUp;
	animation-duration: 2s;
	font-family: 'Lato', sans-serif;
	transition: all .2s;
	outline: 0;
	backface-visibility: hidden;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
	transform: translateY(-1px);
	text-decoration: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

img {
	max-width: 100%;
	max-height: 100%;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
		display: block;
	}
	80% {
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

h1 {
	animation-name: fadeInDown;
	animation-timing-function: ease-out;
	animation-duration: 1s;
	backface-visibility: hidden;
}

h3 {
	animation-name: fadeInRight;
	animation-timing-function: ease-in;
	animation-duration: 1s;
	backface-visibility: hidden;
}
.section-a{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	height: 50vh;
	border: 1px solid black;
}

.section-b{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	height: 50vh;
	border: 1px solid black;
	flex-direction: row-reverse;
}

.section-c{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	height: 50vh;
	border: 1px solid black;
}

.checklist {
	display: grid;
	margin-left: 15%;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	display: flex;
}
